.upload:hover {
    opacity: 0.5;
    transition: all .3s;
    cursor: pointer;
}

.upload {
    opacity: 1;
    border-radius: 10px;
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
    transition: all .3s;
}