.data {
  color: #DC3445;
  text-decoration: underline;
}

#chat {
  height: 300px;
  overflow: scroll;
}

.comment {
  word-wrap: break-word;
}

i {
  cursor: pointer;
}

.episodes {
  height: 300px;
  max-height: 300px;
  overflow: scroll;
}

.film {
  width: 100%;
  object-fit: cover; 
}

.load {
  position: absolute;
  width: 100%;
  top: 10vh;
  z-index: 400;
  animation: fade;
  animation-duration: .8s;
}

@-webkit-keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

#video {
  max-height: 700px;
}