.data {
  color: #DC3445;
  text-decoration: underline;
}

#chat {
  height: 300px;
  overflow: scroll;
}

.comment {
  word-wrap: break-word;
}

i {
  cursor: pointer;
}

.episodes {
  height: 300px;
  max-height: 300px;
  overflow: scroll;
}

.film {
  width: 100%;
  object-fit: cover; 
}