.navbar-white {
    background-color: white!important;
}

@media screen and (max-width: 550px) {
    .searchbar {
        position: fixed;
        top: 65px;
        left: 0;
        margin-bottom: auto;
        margin-top: auto;
        height: 50px;
        width: 100%;
        background-color: #6C757C;
        padding: 10px;
        box-shadow: 0px 15px 15px rgba(0,0,0,0.2);
    }
    .search_input {
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 90%;
        caret-color:red;
        line-height: 30px;
    }
    .searchbar:hover > .search_input {
        padding: 0 10px;
        width: 90%;
        caret-color:#DE6262;
        transition: width 0.3s linear;
        color: white;
    }
}

@media screen and (min-width: 550px) {
    .searchbar {
        margin-bottom: auto;
        margin-top: auto;
        height: 50px;
        background-color: #6C757C;
        border-radius: 30px;
        padding: 10px;
    }
    .search_input {
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color:transparent;
        line-height: 30px;
        transition: width 0.3s linear;
    }
    .searchbar:hover > .search_input {
        padding: 0px 10px;
        width: 25vw;
        caret-color:#DE6262;
        transition: width 0.3s linear;
        color: white;
    }
    
    .searchbar:hover > .search_icon {
        background: white;
        color: #DE6262;
    }
}

.search_icon {
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

.logotext {
    cursor: pointer;
}

.searchhead {
    border-color: #6C757B!important;
    box-shadow: 0 0px 0px #6C757B inset, 0 0 0px #6C757B!important;
    outline: 0 none!important;
    border: 0 !important;
}