body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'PT Sans Caption', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-danger {
  background: #DE6262!important;
}

.text-danger {
  color: #DE6262!important;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(71, 71, 71, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #6C757D;
  outline: 0 none;
  border: 0;
}

@media screen and (max-width: 550px) {
  .grad-block {
    margin: 80px 20px;
  }
  body {
    background: #DC3445;
    background: -webkit-linear-gradient(to bottom right, #FFB88C, #DC3445);
    background: linear-gradient(to bottom right, #FFB88C, #DC3445) no-repeat center center fixed;
  }
}

@media screen and (min-width: 550px) {
  .grad-block {
    margin: 120px 50px;
  }
  body {
    background: #DC3445;
    background: -webkit-linear-gradient(to bottom right, #FFB88C, #DC3445);
    background: linear-gradient(to bottom right, #FFB88C, #DC3445) no-repeat center center fixed;
  }
}

.block-shadow {
    background:#fff;
    border-radius: 10px;
    box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}

.fade-appear {
  opacity: 0;
  position: relative;
  top: 1vh;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  position: relative;
  top: 0;
  transition: all 600ms linear;
}

.btn-warning {
  background-color: #FEB48A;
  color: white;
}

.btn-warning:hover {
  background-color: #F38C73;
  color: white;
}

.btn-danger {
  background-color: #DE6162;
  color: white;
}

.btn-danger:hover {
  background-color: #DC3445!important;
  color: white;
}

.shadow-theme {
  text-shadow: 1.5px 3px 0px rgba(0,0,0,0.1);

}

h1::selection {
  background: rgba(254, 180, 138, 0.541);
  color: white;
}

h2::selection {
  background: rgba(254, 180, 138, 0.541);
  color: white;
}

h3::selection {
  background: rgba(254, 180, 138, 0.541);
  color: white;
}

h4::selection {
  background: rgba(254, 180, 138, 0.541);
  color: white;
}

h5::selection {
  background: rgba(254, 180, 138, 0.541);
  color: white;
}

h6::selection {
  background: rgba(254, 180, 138, 0.541);
  color: white;
}

p::selection {
  background: rgba(254, 180, 138, 0.541);
  color: white;
}

div::selection {
  background: rgba(254, 180, 138, 0.541);
  color: white;
}

.pulse:hover {
  animation-duration: 500ms;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.01, 1.01, 1.01);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}