.selectFilms {
    text-align-last: center;
    border: none;
	-moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
    background-color: white;
}

@media screen and (max-width: 1000px) {
    .displaySmall {
        display: block;
    }
    .displayLarge {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .displaySmall {
        display: none;
    }
    .displayLarge {
        position: -webkit-sticky;
        position: sticky;
        top: -800px;
        display: block;
        max-height: 100vh;
        white-space: nowrap;
    }
}