.image-profile {
    position: relative;
    top: 30px;
    opacity: 1;
    border-radius: 10px;
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
}

.row-header {
    height: 150px;
}

.page {
    margin-top: 120px;
    margin-bottom: -100px ;
}