.image {
    position: relative;
    left: calc(50% - 100px);
    top: 50px;
    overflow:hidden;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    border: solid white 5px;
}

.row-header {
    height: 150px;
}

.page {
    margin-top: 120px;
    margin-bottom: -100px ;
}