.scroll {
    background-color: #FFB88C;
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    border-radius: 5px;
    border: none;
}

.scroll:focus {
    outline-color: #F38C73;
}
  
.arrow-up {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
}